<div class="container" >

        <br>
        <a routerLink="/create" style="float: left;">Добавить задание</a>
        <div class="right">
          <select 
            class="form-control" 
            (input)="inpSelect($event)" 
            [(ngModel)]="catName"
          >
            <option>all</option>
            <option>Angular</option>
            <option>TypeScript</option>
            <option>General</option>
        </select>
        <label for="exampleInputEmail1"><small>select category</small></label>
        </div>
        <div>
          <h3 align="center"> Gotta Learn </h3><br>
          <small>Сейчас выводится категория: </small>
            <strong style="color: crimson;">{{catName}}</strong>
            <!-- всего: {{quantity}}  -->
          
        </div><br>
    <!--  -->
    <div >

      <div class="row">
        <div class="col-md-12 box">
          <div class="row">
            <div class="col-md-10">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" (click)="to_begin()">в начало</a></li>
                  <li class="page-item"><a class="page-link" onclick="event.preventDefault()" (click)="decrise()" href=""> < prev </a></li>
            
                  <!-- <li class="page-item" *ngFor="let p of pages"><a class="page-link" (click)="click_number_page(p)"></a></li> -->
                  
                  <li class="page-item"><a class="page-link" onclick="event.preventDefault()" (click)="incrise()" href=""> next > </a></li>
                  <!-- <li class="page-item"><a class="page-link" (click)="to_end()">в конец </a></li>  -->
                </ul>
              </nav>
            </div>
                  
            <div class="col-md-2">
              <select (change)="item_qwantity_on_page($event)" class="form-control small-select" >
                <option>{{ pagination }}</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <table class="table table-bordered " >
        
            <tbody *ngFor="let todo of todos; let i = index;" >
              <tr>       
                <td>
                  <div *ngIf="!loading; else loadingBlock">
                    <div class="block" >
                      <div class="small">{{ todo.category }}</div><br>
                      <h5>
                        <a 
                        [routerLink]="['/todo', todo._id]"
                      >{{ todo.title}}</a>
                      </h5>
                    </div>
                    <div class="block div-right" *ngIf="todo.description == 0">
                      no content
                    </div>
                  </div>

                  <div >
                    <a [routerLink]="['/update', todo._id]" class="edit">edit  </a>
                    <a 
                      href="" 
                      onclick="event.preventDefault()" 
                      (click)="removeTodo(todo._id)" 
                      class="delete">delete  
                    </a>
                </div>
                </td>
                 
              </tr>
            </tbody>  
      </table> 

    </div> 

    <ng-template #loadingBlock>
      <p>Загрузка данных, подождите...</p>
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </ng-template>
</div>

