<div class="container" >

        <br>
        <a routerLink="/create" style="float: left;">Добавить задание</a>
        <div class="right">
          <select 
            class="form-control" 
            (input)="inpSelect($event)" 
            [(ngModel)]="catName"
          >
            <option selected="selected">all</option>
            <option>Angular</option>
            <option>TypeScript</option>
            <option>General</option>
        </select>
        </div>
        <div>
          <h3 align="center"> MustLearn </h3><br>
          <small>Сейчас выводится категория: 
            <strong style="color: crimson;">{{catName}}</strong>
            всего: {{quantity}} 
          </small>
        </div>
    <!--  -->
    <div *ngIf="!loading; else loadingBlock">
      <table class="table table-bordered " >
        
            <tbody *ngFor="let todo of todos; let i = index;" >
              <tr>       
                <td>
                  <div>
                    <div class="block">
                      <div class="small">{{ todo.category }}</div><br>
                      <h5>
                        <a 
                        [routerLink]="['/todo', todo._id]"
                      >{{ todo.title}}</a>
                      </h5>
                    </div>
                    <div class="block div-right" *ngIf="todo.description == 0">
                      no content
                    </div>
                  </div>

                  <div >
                    <a [routerLink]="['/update', todo._id]" class="edit">edit  </a>
                    <a 
                      href="" 
                      onclick="event.preventDefault()" 
                      (click)="removeTodo(todo._id)" 
                      class="delete">delete  
                    </a>
                </div>
                </td>
                 
              </tr>
            </tbody>
          

          

      </table> 

      
    </div> 

    <ng-template #loadingBlock>
      <p>Сейчас загрузится, подождите...</p>
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </ng-template>
</div>

